.navbar{
  height: 70px;
}


.content-wrapper{
  height: 700px;
  padding: 70px;
}

.content-text h1{
  font-size: 100px;
  padding: 20px;
}

.content-text h5{
  font-size: 30px;
  padding: 20px;
}

.left-to-right:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
}

.content-button{
  padding-top: 50px
}

.image-wrapper{
  height: 700px;
  padding: 70px 0;
}

.image-text h5{
  font-size: 30px;
  padding: 20px;
}

.image-left,.image-right{
  float:left;
  width: 50%;
}
.image-left img{
  width: 500px;
  padding-right: 10px
}

.image-right img{
  width: 500px;
  padding-left: 10px;
}

.features-text{
  padding: 100px 0 50px 0;
}

.img-tbumbnail {
    padding: 20px 25px;
    background: 0 0;
    border: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
    border-radius: 4px;
    z-index: 2;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease,-webkit-transform .25s ease;
}

.form-text{
  color: rgba(0,0,0,.3);
  font-size: .92rem;
  margin: 3px 0;
  padding-bottom: 12px;
}

.button-style{
  font-size: 1.08rem;
  font-family: 'Inter UI',Helvetica,sans-serif;
  background: rgba(0,0,0,.88);
  color: #fff;
  border: none;
  padding: 12px 52px;
  font-weight: 400;
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: -.02rem; 
}
